body{
  background-color: blueviolet;
}
.login_form{
  background-color: cornflowerblue;
  color: black;
  width: 50%;
  padding: 20px;
  margin:auto;
}
/* .my_form{
  width: 50%;
  margin: auto;
  border: 1px solid blue;
  padding: 30px;
  margin-top:20px;
  border-radius: 20px;
  background-color: brown;
} */
.course_section{
  padding:20px;
  margin: 20px;
}
.leftside{
  /* border:1px solid; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  text-align: center;      
  display: flex;
  align-items: center;
  justify-content: center;
  margin:20px;
  min-height: 300px;
}
.rightside{
  /* border:1px solid; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  /* text-align: center;       */
  display: flex;
  align-items: center;
  justify-content: center;
  margin:20px;
  min-height: 300px;
  background-color: brown;

}
.crousal_image{
  height: 80vh;

}